@model IEnumerable< Project_Sauron.Models.Comment>
@foreach (var c in Model)
{
    <div class="topic">
        <div class="user">
            <h4><a href="">@c.Author</a></h4>
            @Html.Action("UserInfo", "Forum", new { userName = c.Author })
        </div>
        <div class="text">
            @c.Text
        </div>
    </div>
}
